<div class="container" style="margin-top: 30px">
  <div class="row justify-content-start">
    <div class="col-6">
      <% if !@city.total_score.nil? %>
        <h1 class="mt-4 mb-4" style="font-size: 50px"><%= @city.name %>, <%= @city.state %></h1>

        <figure>
          <img src="https://cliparting.com/wp-content/uploads/2016/11/City-clip-art-free-clipart-images-7.jpg" alt="City Image" style="width:100%">
          <figcaption>Image Coming Soon</figcaption>
        </figure>

        <p><%= sanitize @city.summary %></p>
      <% else %>
        <h1 class="mt-4 mb-4" style="font-size: 50px"><%= @city.name.split(",")[0] %>,<%= @city.name.split(",")[1] %></h1>

        <figure>
          <img src="https://cliparting.com/wp-content/uploads/2016/11/City-clip-art-free-clipart-images-7.jpg" alt="City Image" style="width:100%">
          <figcaption>Image Coming Soon</figcaption>
        </figure>

      <% end %>

      <% if !@city.total_score.nil? %>
        <div style="display: flex">
        <h4>Overall Rating</h4>
          <div class="star-ratings-css">
            <div class="star-ratings-css-top" style="width: <%="#{@city.total_score}"%>%"><span>★</span><span>★</span><span>★</span><span>★</span></div>
            <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span></div>
          </div>
        </div>
        <% else %>
        <div class="" style="display: flex">
          <h5 class="mr-1">Population: </h5>
          <h5><%= @city.population %></h5>
        </div>
      <% end %>

      <button type="button" class="btn btn-primary mt-2">Add to Favorites</button>

      <div class="mt-4 border border-primary p-4 mb-5">
        <span class="">
          <h2>Todays Forecast</h2>
          Description: <%= @city_weather.description %><br/>
          Temperature: <%= @city_weather.temp %><br/>
          Maximum Temperature: <%= @city_weather.temp_max %><br/>
          Minimum Temperature: <%= @city_weather.temp_min %><br/>
          <% if !@city_weather.wind_speed.nil? %><br/>
            Wind Speed: <%= @city_weather.wind_speed %><br/>
          <% else %>
            Wind Speed: No Result<br/>
          <% end %>
          Sunrise: <% @time = Time.at(@city_weather.sunrise) %><%= @time.strftime('%l:%M') %> AM<br/>
          Sunset: <% @set = Time.at(@city_weather.sunset) %><%= @set.strftime('%l:%M') %> PM<br/>
          Humidity: <%= @city_weather.humidity %>%<br/>
        </span>
      </div>

    </div>
    <div class="col-4 mt-4" style="margin-left: auto; padding-top: 20px">
      <h2 class="mb-4">City Information</h2><hr>
      <% if @city.categories.present? %>
        <% @city.categories.each do |detail| %>
          <div style="display: flex">
            <h5 style="margin-right: auto"><%= detail[:name] %></h5>
            <% percentage = detail[:score_out_of_10] * 10 %>
            <div style="margin-left: auto">
              <div class="star-ratings-css">
                <div class="star-ratings-css-top" style="width: <%="#{percentage}"%>%"><span>★</span><span>★</span><span>★</span><span>★</span></div>
                <div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span></div>
              </div>
            </div>
          </div>
          <br>
        <% end %>
      <% else %>
        <p style="margin-top: 30px">Sorry, we do not have any scores available for this city.</p>
        <p>Scores are usually only available for larger urban cities.</p>
      <% end %>
    </div>
  </div>
</div>
